<!doctype html>
<html>
  <head>
    <title>Temperaturer</title>
    <meta charset="UTF-8" />
    <!--script src="http://zeptojs.com/zepto.min.js"></script-->
    <script type="text/javascript" src="zepto.min.js"></script>
    <script type="text/javascript" src="zepto-adapter.src.js"></script>
    <!--script src="http://code.highcharts.com/highcharts.js"></script-->
    <script type="text/javascript" src="highcharts.js"></script>
    <script type="text/javascript">
      data = <%= @data %>

      $(document).ready(function () {
          Highcharts.setOptions({
              global: {
                  timezoneOffset: -2 * 60
              }
          });

          new Highcharts.Chart({
            chart: {
              animation: false,
              renderTo: 'container',
              type: 'spline'
            },
            title: {
                text: 'Temperaturer'
            },
            subtitle: {
                text: 'Rosenholm, Brittatorp'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                title: {
                    text: 'Klockslag'
                }
            },
            yAxis: {
                title: {
                    text: 'Temperatur'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b>: ',
                pointFormat: '{point.y:.2f}'
            },
            plotOptions: {
              series: {
                marker: {
                  enabled: false
                }
              }
            },
            legend: {
              layout: 'horizontal',
              align: 'center',
              verticalAlign: 'bottom',
              borderWidth: 1,
              labelFormatter: function () { return this.name + ': ' + this.yData[this.yData.length - 1].toFixed(2); }
            },
            series: data
          })
        });
    </script>
  </head>
  <body>
    <div id="container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
  </body>
</html>
